html {
  --white: #f8f8f8;
  --primary-color: #05161f;
  --secondary-color: #e5c116;
  --tertiary-color: #101010;
  --text-color: var(--white);
  --link-color: #1d76c4;
  --error-color: red;
  --success-color: #007e00;

  overflow: auto;

  --mdc-theme-primary: var(--primary-color);
  --mdc-theme-error: var(--error-color);
}

body {
    font: 16px 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
    color: var(--text-color);
    background: var(--primary-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
